@media screen and (min-width:0px) and (max-width:320px){
    
body { 
       background: #101010;

     }
    
     #wrapper {
         clear:left;
         width: 258px;
         height: 100%;
         margin: 0px auto;
         background: rgba(40,40,40,.5);
         border-radius:10px 10px 10px 10px;
     }
     /* ---------------------------- Page Header ---------------------------------------------*/
     #page-header header {
         width: 100%;
         height:100%;
     }
     #page-header h1 {
         background-color: rgba(20,20,20,.5);
         text-align: center;
         padding:0px 0px 0px 0px;
         border-radius:10px 10px 0px 0px;
     }
     #learning-game-logo {
         width: 90%;
         height: 40%;
         float: center;
         padding: 15px 0px 0px 0px;
     }
     #development-logo {
         width:84%;
         height: 40%;
         float:center;
     }
     #header-nav {
         height:4em;
         line-height: 2em;
         font-size: 16px;
         font-family: sans-serif;
        
         background: rgba(40,40,40,1);
         margin: -20px -10px 0px -10px;
         border-radius: 10px;
        text-align:center;
    }

            #header-nav ul{
                display: block;
        text-align:center;

     }
     #header-nav li {
         list-style: none;
         display: inline;
         border: 0px solid #202020;
        height:2em;
        text-align:center;
     }
    
    .top-buttons{
        float:left;
        width:30%;
    }
    
    .bottom-button1{
        float:left;
        width:50%;
    }
    
    .bottom-button2{
        float:left;
        width:30%;
    }
    
       
 
   
     /* --------------------------------Page Content ---------------------------------*/
     #content {
         width:92%;
         height:100%;
         margin: 10px 4% 10px 4%;
         background: rgba(40,40,40,1);
         border-radius:10px;
     }
     #emptyspace {
         font-size: 0;
     }
     /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About Our Site ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    #blog-wrap{
         width:90%;
         margin: -20px auto 0px auto;
    }
     .blog-post {
         border: 5px #151515 solid;
         border-radius: 20px;
         padding:10px;
         background: #202020;
     }
    
    .navigation {
         width:45%;
         margin: 75px auto 25px auto;
         border-radius: 20px;
         padding:10px;
         background: #202020;
    }
     #about-our-site {
         margin: 0px 0px;
         font-size: 28px;
         text-align:center;
         font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
         color:#BBBBBB;
     }
     .article-paragraph {
         font-size: 15px;
         font-family: sans-serif;
         color:#999999;
         padding: 0px 5% 0px 5%;
         text-align: justify;
     }
    
    #blog-switch{
         width:99%;
         border: 5px #151515 solid;
         border-radius: 20px;
         background: #202020;
         float:left;
         margin-top: 20px;      
        
        font-size: 15px;
         font-family: sans-serif;
         color:#999999;
        padding: 4px 0% 4px 0%;
    }
    
    #previous{
        float:left;
        margin-left:5%;
    }
    #next{
        float:right;
        margin-right:5%;
    }
      .drop-list{
         font-size: 15px;
         font-family: sans-serif;
         color:#999999;
         padding: 0px 5% 0px 5%;
    }
    
    .category{
        font-size:16px;
        font-style:none;
    }
    
    .menu{
        float:center;
    }
     /* -------------------------------------- page footer ------------------------------ */
    #empty-bottom-content-wrap{
        clear:both;
        padding: ;
    }
    
     .page-footer {
         clear:left;
         clear:right;
         margin: 0px -10px 0px -10px;
         height:60px;
         line-height: 60px;
         font-family: sans-serif;
         background: rgba(42,42,42,1);
         text-align:center;
         border-radius: 10px;                 
         color:#BBBBBB;
     }

/*---------------------------------------Link/Misc Styles-----------------------------------------------*/

A:link {
    text-decoration: none;
    font-weight: bold;
    color: #BBBBBB;
}
A:visited {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: bold;
}
A:active {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: bold;

}
A:hover {
    text-decoration: underline; 
    color: #FFFFFF;
}
    
}

 /*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/

@media screen and (min-width:321px) and (max-width: 580px) {
    body { 
       background: #101010;

     }
    
     #wrapper {
         clear:left;
         width: 90%;
         height: 100%;
         margin: 0px auto;
         background: rgba(40,40,40,.5);
         border-radius:10px 10px 10px 10px;
     }
     /* ---------------------------- Page Header ---------------------------------------------*/
     #page-header header {
         width: 100%;
         height:100%;
     }
     #page-header h1 {
         background-color: rgba(20,20,20,.5);
         text-align: center;
         padding:0px 0px 0px 0px;
         border-radius:10px 10px 0px 0px;
     }
     #learning-game-logo {
         width: 90%;
         height: 40%;
         float: center;
         padding: 15px 0px 0px 0px;
     }
     #development-logo {
         width:84%;
         height: 40%;
         float:center;
     }
     #header-nav {
         height:4em;
         line-height: 2em;
         font-size: 20px;
         font-family: sans-serif;
        
         background: rgba(40,40,40,1);
         margin: -20px -10px 0px -10px;
         border-radius: 10px;
        text-align:center;
    }

      #header-nav ul{
         display: block;
         text-align:center;

     }
     #header-nav li {
         list-style: none;
         display: inline;
         border: 0px solid #202020;
         height:2em; 
         text-align:center;
     }
    
    .top-buttons{
        float:left;
        width:30%;
    }
    
    .bottom-button1{
        float:left;
        width:50%;
    }
    
    .bottom-button2{
        float:left;
        width:30%
    }
    
    #aboutbutton{
        float:left;
    }
 
   
     /* --------------------------------Page Content ---------------------------------*/
     #content {
         width:92%;
         height:100%;
         margin: 10px 4% 10px 4%;
         background: rgba(40,40,40,1);
         border-radius:10px;
     }
     #emptyspace {
         font-size: 0;
     }
     /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About Our Site ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
      
    #blog-wrap{
         width:90%;
         margin: -20px auto 0px auto;
    }
     .blog-post {
         border: 5px #151515 solid;
         border-radius: 20px;
         padding:10px;
         background: #202020;
     }
    
    .navigation {
         width:45%;
         margin: 75px auto 25px auto;
         border-radius: 20px;
         padding:10px;
         background: #202020;
    }
     #about-our-site {
         margin: 0px 0px;
         font-size: 28px;
         text-align:center;
         font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
         color:#BBBBBB;
     }
     .article-paragraph {
         font-size: 15px;
         font-family: sans-serif;
         color:#999999;
         padding: 0px 5% 0px 5%;
         text-align: justify;
     }
    
    #blog-switch{
         width:99%;
         border: 5px #151515 solid;
         border-radius: 20px;
         background: #202020;
         float:left;
         margin-top: 20px;      
        
        font-size: 15px;
         font-family: sans-serif;
         color:#999999;
        padding: 4px 0% 4px 0%;
    }
    
    #previous{
        float:left;
        margin-left:5%;
    }
    #next{
        float:right;
        margin-right:5%;
    }
      .drop-list{
         font-size: 15px;
         font-family: sans-serif;
         color:#999999;
         padding: 0px 5% 0px 5%;
    }
    
    .category{
        font-size:16px;
        font-style:none;
    }
    
    .menu{
        float:center;
    }
     /* -------------------------------------- page footer ------------------------------ */
    #empty-bottom-content-wrap{
        clear:both;
        padding: ;
    }
    
     .page-footer {
         clear:left;
         clear:right;
         margin: 0px -10px 0px -10px;
         height:60px;

         line-height: 60px;
         font-family: sans-serif;
         background: rgba(42,42,42,1);
         text-align:center;
         border-radius: 10px;

        
        color:#BBBBBB;
     }

/*---------------------------------------Link/Misc Styles-----------------------------------------------*/

A:link {
    text-decoration: none;
    font-weight: bold;
    color: #BBBBBB;
}
A:visited {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: bold;
}
A:active {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: bold;

}
A:hover {
    text-decoration: underline; 
    color: #FFFFFF;
}
}

 /*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/
 @media screen and (min-width: 581px) and (max-width: 1080px) {
     body {
        background-image: url(http://i.imgur.com/Z6s01ER.jpg);
     }
     #wrapper {
         clear:left;
         width: 90%;
         height: 100%;
         margin: 10px auto;
         background: rgba(40,40,40,.5);
         border-radius:10px 10px 10px 10px;
     }
     /* ---------------------------- Page Header ---------------------------------------------*/
     #page-header header {
         width: 100%;
     }
     #page-header h1 {
         height:100px;
         line-height:100px;
         /*centers heading vertically*/
         font-size: 48px;
         background-color: rgba(20,20,20,.5);
         text-align: center;
         padding:30px 0px 0px 0px;
         border-radius:10px 10px 0px 0px;
     }
     #learning-game-logo {
         width: 51%;
         height: 80%;
         float: left;
        padding: 0 0 0 1%;
     }
     #development-logo {
         width:48%;
         height:80%;
         float:left;
     }
     #header-nav {
         height:30px;
         line-height: 30px;
         font-family: sans-serif;
         background: rgba(50,50,50,.8);
         margin: -20px -10px 0px -10px;
         text-align:center;
         border-radius: 10px;
     }
     #header-nav li {
         list-style: none;
         margin: 0px 2.8% 0px 1.9%;
         display: inline;
     }
     /* --------------------------------Page Content ---------------------------------*/
     #content {
         width:92%;
         height:100%;
         margin: 10px 4% 10px 4%;
         background: rgba(40,40,40,1);
         border-radius:10px;
     }
     #emptyspace {
         font-size: 0;
        line-height:0px;
     }
     /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About Our Site ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    
    #blog-wrap{
         width:65%;
         margin: -20px 0 0px 2%;
         float:left;
    }
     .blog-post {
         border: 5px #151515 solid;
         border-radius: 20px;
         padding:10px;
         background: #202020;
     }
    
    .navigation {
         width:23%;
         margin: -1% 2% 35px 0;
         border-radius: 20px;
         padding:10px;
         background: #202020;
         float:right;
    }
     #about-our-site {
         margin: 0px 0px;
         font-size: 28px;
         text-align:center;
         font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
         color:#BBBBBB;
     }
     .article-paragraph {
         font-size: 15px;
         font-family: sans-serif;
         color:#999999;
         padding: 0px 5% 0px 5%;
         text-align: justify;
     }
    
    #blog-switch{
         width:99%;
         border: 5px #151515 solid;
         border-radius: 20px;
         background: #202020;
         float:left;
         margin-top: 20px;      
        
        font-size: 15px;
         font-family: sans-serif;
         color:#999999;
        padding: 4px 0% 4px 0%;
    }
    
    #previous{
        float:left;
        margin-left:5%;
    }
    #next{
        float:right;
        margin-right:5%;
    }
      .drop-list{
         font-size: 15px;
         font-family: sans-serif;
         color:#999999;
         padding: 0px 5% 0px 5%;
    }
    
    .category{
        font-size:16px;
        font-style:none;
    }
    
    .menu{
        float:center;
    }
     /* -------------------------------------- page footer ------------------------------ */
    #empty-bottom-content-wrap{
        clear:both;
        padding: ;
    }
    
     .page-footer {
         clear:left;
         clear:right;
         margin: 0px -10px 0px -10px;
         height:60px;

         line-height: 60px;
         font-family: sans-serif;
         background: rgba(60,60,60,.8);
         text-align:center;
         border-radius: 10px;
         
        
        color:#BBBBBB;
     }

/*---------------------------------------Link/Misc Styles-----------------------------------------------*/

A:link {
    text-decoration: none;
    font-weight: bold;
    color: #BBBBBB;
}
A:visited {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: bold;
}
A:active {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: bold;

}
A:hover {
    text-decoration: underline; 
    color: #FFFFFF;
}
}
 /*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/
 @media screen and (min-width:1081px) and (max-width: 3000px) {
     body {
        background-image: url(http://i.imgur.com/Z6s01ER.jpg);
     }
     #wrapper {
         clear:left;
         width: 972px;
         height: 100%;
         margin: 10px auto;
         background: rgba(40,40,40,.5);
         border-radius:10px 10px 10px 10px;
     }
     /* ---------------------------- Page Header ---------------------------------------------*/
     #page-header header {
         width: 100%;
     }
     #page-header h1 {
         height:100px;
         line-height:100px;
         /*centers heading vertically*/
         font-size: 48px;
         background-color: rgba(20,20,20,.5);
         text-align: center;
         padding:30px 0px 0px 0px;
         border-radius:10px 10px 0px 0px;
     }
     #learning-game-logo {
         width: 51%;
         height: 80%;
         float: left;
        padding: 0 0 0 1%;
     }
     #development-logo {
         width:48%;
         height:80%;
         float:left;
     }
     #header-nav {
         height:30px;
         line-height: 30px;
         font-family: sans-serif;
         background: rgba(50,50,50,.8);
         margin: -20px -10px 0px -10px;
         text-align:center;
         border-radius: 10px;
     }
     #header-nav li {
         list-style: none;
         margin: 0px 2.8% 0px 1.9%;
         display: inline;
     }
     /* --------------------------------Page Content ---------------------------------*/
     #content {
         width:92%;
         height:100%;
         margin: 10px 4% 10px 4%;
         background: rgba(40,40,40,1);
         border-radius:10px;
     }
     #emptyspace {
         font-size: 0;
        line-height:0px;
     }
     /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About Our Site ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    
    #blog-wrap{
         width:65%;
         margin: -20px 0 0px 2%;
         float:left;
    }
     .blog-post {
         border: 5px #151515 solid;
         border-radius: 20px;
         padding:10px;
         background: #202020;
     }
    
    .navigation {
         width:23%;
         margin: -1% 2% 35px 0;
         border-radius: 20px;
         padding:10px;
         background: #202020;
         float:right;
    }
     #about-our-site {
         margin: 0px 0px;
         font-size: 28px;
         text-align:center;
         font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
         color:#BBBBBB;
     }
     .article-paragraph {
         font-size: 15px;
         font-family: sans-serif;
         color:#999999;
         padding: 0px 5% 0px 5%;
         text-align: justify;
     }
    
    #blog-switch{
         width:99%;
         border: 5px #151515 solid;
         border-radius: 20px;
         background: #202020;
         float:left;
         margin-top: 20px;      
        
        font-size: 15px;
         font-family: sans-serif;
         color:#999999;
        padding: 4px 0% 4px 0%;
    }
    
    #previous{
        float:left;
        margin-left:5%;
    }
    #next{
        float:right;
        margin-right:5%;
    }
    
    .drop-list{
         font-size: 15px;
         font-family: sans-serif;
         color:#999999;
         padding: 0px 5% 0px 5%;
    }
    
    .category{
        font-size:16px;
        font-style:none;
    }
    
    .menu{
        float:center;
    }
    
     /* -------------------------------------- page footer ------------------------------ */
    #empty-bottom-content-wrap{
clear:both;
    }
    
     .page-footer {
         clear:left;
         clear:right;
         margin: 0px -10px 0px -10px;
         height:60px;

         line-height: 60px;
         font-family: sans-serif;
         background: rgba(60,60,60,.8);
         text-align:center;
         border-radius: 10px;
         
        
        color:#BBBBBB;
     }

/*---------------------------------------Link/Misc Styles-----------------------------------------------*/

A:link {
    text-decoration: none;
    font-weight: bold;
    color: #BBBBBB;
}
A:visited {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: bold;
}
A:active {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: bold;

}
A:hover {
    text-decoration: underline; 
    color: #FFFFFF;
}
 }
 /*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/


 .show1 {display: none; }
      .hide1:focus + .show1 {display: inline; }
      .hide1:focus { display: none; }
      .hide1:focus ~ #list1 { display:none; }

 .show2 {display: none; }
      .hide2:focus + .show2 {display: inline; }
      .hide2:focus { display: none; }
      .hide2:focus ~ #list2 { display:none; }


 .show3 {display: none; }
      .hide3:focus + .show3 {display: inline; }
      .hide3:focus { display: none; }
      .hide3:focus ~ #list3 { display:none; }


 .show4 {display: none; }
      .hide4:focus + .show4 {display: inline; }
      .hide4:focus { display: none; }
      .hide4:focus ~ #list4 { display:none; }
