 @media (max-width: 780px) {
     #wrapper {
     }
 }
 /*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/
 @media screen and (min-width: 581px) and (max-width: 1200px) {
     body {
         background-color:#707070;
     }
     #wrapper {
         width: 90%;
         height: 1000px;
         margin: 10px auto;
         background: #606060;
         border-radius:10px 10px 0px 0px;
     }
     /* ---------------------------- Page Header ---------------------------------------------*/
     #page-header header {
         width: 100%;
     }
     #page-header h1 {
         height:100px;
         line-height:100px;
         /*centers heading vertically*/
         font-size: 48px;
         background-color: #303030;
         text-align: center;
         padding:30px 0px 0px 0px;
         border-radius:10px 10px 0px 0px;
     }
     #learning-game-logo {
         width: 52%;
         height: 80%;
         float: left;
     }
     #development-logo {
         width:48%;
         height:80%;
         float:left;
     }
     #header-nav {
         height:30px;
         line-height: 0px;
         font-family: sans-serif;
         background:#404040;
         margin: -20px -10px 0px -10px;
         text-align:center;
         border-radius: 10px;
         border: 5px #505050 groove;
     }
     #header-nav li {
         list-style: none;
         padding: 0px 4% 0px 4%;
         display: inline;
     }
     /* --------------------------------Page Content ---------------------------------*/
     #content {
         width:92%;
         height:800px;
         margin: 10px 4% 10px 4%;
         background: #404040;
     }
     #emptyspace {
         font-size: 0;
     }
     /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About Our Site ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
     article {
         width:80%;
         margin: 20px auto 12px auto;
         padding: 10px;
         border: 5px #303030 groove;
         border-radius: 20px;
         background: #202020;
     }
     #about-our-site {
         margin: 10px 0px;
         font-size: 24px;
         text-align:center;
         font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
         color:#BBBBBB;
     }
     .article-paragraph {
         font-size: 14px;
         font-family: sans-serif;
         color:#999999;
         padding: 0px 5% 0px 5%;
         text-align: justify;
     }
     .boxes {
         font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
         font-size: 30px;
         border: 5px #303030 groove;
         border-radius: 20px;
         padding:30px 15%;
         background:#202020;
     }
     #guide-box {
         margin: 30px 0 0px 8%;
     }
     #blog-box {
         margin: 30px 8% 0px 0;
     }
     /* -------------------------------------- page footer ------------------------------ */
     .page-footer {
         clear:left;
         /*used to clear the float property*/
         background: #404040;
         border: 5px #505050 groove;
         border-radius:10px;
         margin: -5px -5px -5px -5px;
         color:#999999;
     }
 }
 /*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/
 @media (max-width: 3000px) {
 }
 /*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/
