 @media (max-width: 780px) {
     #wrapper {
         
}
}
/*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/

@media screen and (min-width: 581px) and (max-width: 1200px) {
    #wrapper {
        width: 90%;
        height: 1000px;
        margin: 10px auto;
        background: #eeeeee;   
    }
    
    
/* ---------------------------- Page Header ---------------------------------------------*/

    
    #page-header header{
        background-color: rgba(220,220,220, 1);
        width: 100%;

    }
    #page-header h1 {
        height:100px;
        line-height:100px; /*centers heading vertically*/
        font-size: 48px;
        font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;        color:#000000;
        background-color: rgba(220,220,220, 1);
        text-align: center;
    }    
    
    #header-nav {
        height:30px;
        line-height: 30px;
        font-family: sans-serif;
        background:#CCCCCC;
        margin: -20px -10px 0px -10px;
        text-align:center;
        border-radius: 10px;

    }

  
    #header-nav li {
        list-style: none;
        padding: 0px 4% 0px 4%;
        display: inline;

    }
    /* --------------------------------Page Content ---------------------------------*/
    #content {
        width:92%;
        height:800px;
        margin: 10px 4% 10px 4%;
        background: #dddddd;
    }
    
    #emptyspace {
        font-size: 0;
    }
        
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About Our Site ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    article {
        width:60%;
        margin: 20px 0% 12px 32px;
        padding: 10px;
        border: 5px #505050 groove;
        border-radius: 20px;
        background: #cccccc;

    }
    #about-our-site {
        margin: 10px 0px;
        font-size: 24px;
        text-align:center;
        font-family:  ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

        
    }
    .article-paragraph {
        font-size: 14px;
        font-family: sans-serif;
        color:#505050;
        padding: 0px 5% 0px 5%;
        text-align: justify;
    }
    
    /* ---------------------------------- About Us --------------------------------- */
    .about-us {
        height: auto;
        width : 92%;
        margin: 40px auto 00px auto;
        border: 5px groove #505050;
        border-radius: 20px;
       
    }
    .about-header {
        font-size: 24px;
        text-align: center;
         font-family:  ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
         color: #000000;
    }
    #about-our-company {
  padding: 34px 2.5% 0px 2.5%;  
      
    }
    
    
   
    
    #about-dom {
        width:40%;
        padding: 0 5%;
        float:left;
    }
    #about-eric {
        width:40%;
        padding: 0 5%;
        float:right;
    }
    
    #unfloat-border{
        font-size: 1;
        float:clear;
    }
    
    
    /* -------------------------------------- page footer ------------------------------ */
    .page-footer {
        clear:left;
        /*used to clear the float property*/
        background: #dddddd;
        border: 1px #000000 solid;
        margin: -5px -5px -5px -5px;
    }
}

/*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/

@media (max-width: 3000px) {
}
/*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/
