

#wrapper{
    width: 90%;
    height: 1000px;
    margin: 10px auto 10px auto; /*top right bottom left, or you can just input 2 values: t/b and r/l*/
    background: #eeeeee;
}


header {
    padding: 1px 0px 0px 0px;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,255,0.2);
    text-align:center;
}

h1 {
  font-size: 32px;
  font-family: serif;
  color:#000000;
}


#header-nav {
    height:30px;
    font-family: sans-serif;
    background:#CCCCCC;
    margin: 10px -10px 10px -10px
}

#header-nav li{
    align-content:center;
    padding: 0px 25px 0px 25px;
    display: inline;
    list-style-type: none;
    line-height:2em;
}

#content{
    align-content:center;
    width:85%;
    height:800px;
    margin: 52px 7.5% 40px 7.5%;
    background: #ddddee;
}


.article-paragraph {
 font-size: 16px;
 font-family: sans-serif;
 color:#505050;
 padding: 0px 5% 0px 5%;
 text-align:justify;
}

article{
    border: 1px solid #202020;
    background: #ffffff;
    width:60%;
    margin: 10px 2% 20px 2%;
    float:left;
}

.article-header {
    background: #ffffff;
    text-align: center;
}

.article-footer {
    margin: 5px 5px 5px 5px;
    border: 1px solid #000000;
    background: #FDFDFD;
}

aside {
   font-family: sans-serif;
   background: #dddddd;
   width: 30%;
   border: 1px #000000 solid;
   margin: 10px 2% 20px 2%;
   float:right;
}

.page-footer {
    clear:left; /*used to clear the float property*/
    background: #dddddd;
    border: 1px #000000 solid;
    margin: -5px -5px -5px -5px;
}
