

#wrapper{
    width: 90%;
    height: 1000px;
    margin: 10px auto 10px auto; /*top right bottom left, or you can just input 2 values: t/b and r/l*/
    background: #eeeeee;
}


#page-header {
    padding: 1px 0px 0px 0px;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,255,0.2);
    text-align:center;
}

h1 {
  font-size: 32px;
  font-family: serif;
  color:#000000;
}

/* ---------------------------- Page Header ---------------------------------------------*/

#header-nav {
    height:30px;
    font-family: sans-serif;
    background:#CCCCCC;
    margin: 10px -10px 10px -10px
}

#header-nav li{
    align-content:center;
    padding: 0px 25px 0px 25px;
    display: inline;
    list-style-type: none;
    line-height:2em;
}


/* --------------------------------Page Content ---------------------------------*/

#content{
    align-content:center;
    width:92%;
    height:800px;
    margin: 52px 4% 40px 4%;
    background: #ddddee;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About Our Site ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


article{
    width:70%;
    margin: 10px 0% 20px 0%;
    border: 1px #505050 dotted;
}



#about-our-site {
    font-size: 24px;
    text-align: center;
}

.article-paragraph {
 font-size: 14px;
 font-family: sans-serif;
 color:#505050;
 padding: 0px 5% 0px 5%;
 text-align: justify;
}


/*aside {
   font-family: sans-serif;
   background: #dddddd;
   width: 30%;
   border: 1px #000000 solid;
   margin: 10px 2% 20px 2%;
   float:right;
}*/

/* ---------------------------------- About Us --------------------------------- */

#about-us{
    height: 400px;
    width : 100%;
    border: 1px dotted #505050;
    margin: 0px 0px 20px 0px;
}

.about-header {
    margin:10px 0px 0px 0px;
    font-size: 24px;
}

#about-our-company{
    
}

#about-dom{
    width:45%;
    float:left;
}

#about-eric{
    width:45%;
    float:left;

}





/* -------------------------------------- page footer ------------------------------ */

.page-footer {
    clear:left; /*used to clear the float property*/
    background: #dddddd;
    border: 1px #000000 solid;
    margin: -5px -5px -5px -5px;
}
